### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
number_schools=len(school_data_complete_df["School ID"].unique())
number_students=len(school_data_complete_df["Student ID"].unique())

total_budget=school_data_df["budget"].sum()

average_math_score=school_data_complete_df["math_score"].mean()
average_reading_score=school_data_complete_df["reading_score"].mean()


passing_math=school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70)]
passing_math=len(passing_math['Student ID'].unique())
percent_pass_math=(passing_math/number_students)*100


passing_reading=school_data_complete_df.loc[(school_data_complete_df["reading_score"]>=70)]
passing_reading=len(passing_reading['Student ID'].unique())
percent_pass_reading=(passing_reading/number_students)*100


# passing_both=len(passing_both['Student ID'].unique())
# percent_pass_both=(passing_both/number_students)*100

passing_both=school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70)& (school_data_complete_df["reading_score"]>=70)]
passing_both=len(passing_both['Student ID'].unique())
percent_pass_both=(passing_both/number_students)*100

# print(passing_both)

# passing_overall=school_data_complete_df[]
# percent_pass_overall=(school_data_complete_df["math_score"]>=70|school_data_complete_df["reading_score"]>=70)/(school_data_complete_df["student ID"].sum())*100
# print(percent_pass_overall)

summary_df=pd.DataFrame({"Total Schools":[number_schools],"Total Students":[number_students],"Total Budget":[total_budget],"Average Math Score":[average_math_score],"Average Reading Score":[average_reading_score],"% Passing Math":[percent_pass_math],"% Passing Reading":[percent_pass_reading],"% Overall Passing":[percent_pass_both]})


summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

# Display for School Name & Type, Total Students, Avg Scores Total School Budget

In [8]:
# #Create copy of original df
redo_allschooldata=school_data_complete_df
# redo_allschooldata.head()


# #Create group for school data
redo_group=redo_allschooldata.groupby(['school_name','type'])



student_count=redo_group['Student ID'].count()
student_count

math_scores_school=redo_group['math_score'].mean()
math_scores_school

reading_scores_school=redo_group['reading_score'].mean()
reading_scores_school

school_budget=redo_group['budget'].max()
school_budget

per_student_budget=school_budget/student_count

pass_math_byschool=student_data_df.loc[(student_data_df['math_score']>=70)]
group_pass_math_byschool=pass_math_byschool.groupby(['school_name'])
# group_pass_math_byschool.count().head()
countpassmath=group_pass_math_byschool['Student ID'].count()
countpassmath
percentpassmath=(countpassmath/student_count)*100
percentpassmath


pass_read_byschool=student_data_df.loc[(student_data_df['reading_score']>=70)]
group_pass_read_byschool=pass_read_byschool.groupby(['school_name'])
# group_pass_math_byschool.count().head()
countpassread=group_pass_read_byschool['Student ID'].count()
countpassread
percentpassread=(countpassread/student_count)*100
percentpassread


pass_both_byschool=student_data_df.loc[(student_data_df['reading_score']>=70)&(student_data_df['math_score']>=70)]
group_pass_both_byschool=pass_both_byschool.groupby(['school_name'])
# group_pass_math_byschool.count().head()
countpassboth=group_pass_both_byschool['Student ID'].count()
countpassboth
percentpassboth=(countpassboth/student_count)*100
percentpassboth


# # PRINT PRINT PRINT PRINT
all_school_data=pd.DataFrame({'Total Students':student_count,'Total School Budget':school_budget,'Per Student Budget':per_student_budget,'Avg Math':math_scores_school,'Avg Reading':reading_scores_school,'% Passing Math':percentpassmath,'% Passing Reading':percentpassread,'% Overall Passing':percentpassboth})

all_school_data




# # school_group=school_data_complete_df.groupby(["school_name"])
# # school_group.head(20)

# #Create copy of original df
# redo_allschooldata=school_data_complete_df
# # redo_allschooldata.head()


# #Create group for school data
# redo_group=redo_allschooldata.groupby(['school_name','type'])

# #Create df for scores
# score_group=redo_group.agg({"Student ID":'count',"math_score":'mean',"reading_score":'mean','budget':'mean'})
# score_df=pd.DataFrame(score_group)
# score_df
# # score_df.dtypes
# Add column to df above to calculate per student budget
# 
# per_student_budget=score_df
# per_student_budget
# # per_student_budget2=(per_student_budget['budget'].max()/per_student_budget['Student ID'].count())
# per_student_budget2['Per Student Budget']=per_student_budget['budget']/per_student_budget['Student ID']


# example from district above: passing_both=school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70)& (school_data_complete_df["reading_score"]>=70)]


# countofpassmath=pd.DataFrame(group_pass_math_byschool.count())
# countofpassmath




# finalmath_df=countofpassmath[['school_name','math_score']]
# finalmath.head()



# pass_read_byschool=student_data_df.loc[(student_data_df['reading_score']>=70)]
# group_pass_reading_byschool=pass_read_byschool.groupby(['school_name'])
# group_pass_reading_byschool.count().head()
# countofpassreading=pd.DataFrame(group_pass_reading_byschool.count())
# countofpassreading


# joinMathRead=pd.merge(countofpassmath,countofpassreading,on='school_name')

# joinMathRead

# pass_both_byschool=student_data_df.loc[(student_data_df['reading_score']>=70)&(student_data_df['math_score']>=70)]
# group_pass_both_byschool=pass_both_byschool.groupby(['school_name'])
# group_pass_both_byschool.count().head()
# countofpassboth=pd.DataFrame(group_pass_both_byschool.count())
# countofpassboth

# joinAllPassScores=pd.merge(joinMathRead,countofpassboth,on='school_name')
# joinAllPassScores






# #  PRINT PRINT PRINT PRINT
# appendscores=pd.merge(joinAllPassScores,almost_all_school_data,on='school_name')
# appendscores

# appendscores.drop('student_name_x','gender_x')
# appendscores.drop('gender_x',axis=1)
# grade_x','reading_score_x','math_score_x','student_name_y','gender_y','grade_y')
# print(appendscores)
# yourdf.drop('Tickets Sold', axis=1, inplace=True)
# print(yourdf)


#  PRINT PRINT PRINT PRINT
# appendgroup=pd.DataFrame({'Total Students':student_count,'Avg Math':math_scores_school,'Avg Reading':reading_scores_school,'Budget':school_budget,'Budget Per Student':per_student_budget})

# appendgroup

# END END END END END END 


# TotalPassingMath=joinAllPassScores.loc[:,'Student ID_x']
# TotalPassingRead=joinAllPassScores.loc[:,'Student ID_x']
# print(TotalPassingRead)

# TotalPassingMath=Student ID_y.unique())

# example from district above: passing_both=school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70)& (school_data_complete_df["reading_score"]>=70)]


# percentpassmath=('Student ID_x'/'Total Students')*100

# pass_read_byschool=student_data_df.loc[(student_data_df['read_score']>=70)]
# counting_students=redo_group['Student ID'].count()


# pass_math_byschool
# count_pass_math=len(pass_math_byschool['Student ID'].unique())

# math_df=pd.DataFrame({'school_name':school_name,'# Passing Math':count_pass_math})
# math_df

# group_pass_math_byschool=pass_math_byschool.groupby(['school_name'])
# group_pass_math_byschool.(pass_math_byschool)

# pass_math_byschool=pass_math_byschool.groupby(['school_name']['Student ID'].count()
# count_pass_math_byschool

# group_pass_math_byschool=pass_math_byschool.groupby(['school_name'])
# pass_math_byschool

# example from district above: passing_both=school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70)& (school_data_complete_df["reading_score"]>=70)]
# example from district above: passing_math=school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70)]
# example from district above: passing_math=len(passing_math['Student ID'].unique())
# example from above: school_group=school_data_complete_df.groupby(["school_name"])

# ass_math_byschool=school_data_complete_df.query('math_score>70')['School ID'].count()/number_students
# pass_math_byschool=school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70)]
# pass_math_byschool

# pass_math_byschool=len(pass_math_byschool['Student ID'].unique())
# percent_math=(pass_math_byschool/student_count)*100

# pass_math_byschool_group=pass_math_byschool.groupby(['school_name'])
# pass_math_byschool_group.count().head()

# pass_math_byschool

# pass_math_byschool_group
# percent_math=(pass_math_byschool/student_count)*100
# percent_math

# # pass_read_byschool=redo_group['reading_score']>=70

# percent_math=(school_budget/pass_math_byschool)*100
# # percent_math=(school_budget/pass_math_byschool)*100


# passing_math=len(passing_math['Student ID'].unique())


# per_student_budget=redo_group['budget']/redo_group['Student ID']
# per_student_budget

# per_student_budget2['Per Student Budget']=per_student_budget
# per_student_budget2
# /score_df['Student ID'].count()
# score_df=pd.DataFrame(per_student_budget2)
# score_df

# per_student_budget_df=pd.DataFrame(per_student_budget)

# per_student_budget_df['Per Student Budget']=per_student_budget_df

# per_student_budget_df
# append_df['Per Student budget']=


# score_df=pd.DataFrame(per_student_budget)
# append_df=score_df.assign('Per Student Budget'[per_student_budget])
# append_df
# append_df1=score_df['Per Student Budget']=[per_student_budget]
# append_df
# per_student_budget_df=redo_group['Per Student Budget']=per_student_budget

# redo_group.count().head()




#Create df for per student budgets
# all_students=score_df['budget']/2
#         all_students = redo_group.agg({"Student ID":'count'})
#         all_students
#         budget_by_school=redo_group.agg({'budget':'max'})
#         budget_by_school
# per_student_budget = budget_by_school/all_students
# per_student_budget



# redo_allschooldata["math_score"].mean()
# avg_math2_df=pd.DataFrame(math_score_group)
# average_math_score2=redo_allschooldata["math_score"].mean()
# average_reading_score2=redo_allschooldata["reading_score"].mean()


# redo_group2["Average Math Score"]=[average_math_score2]


# school_group=school_data_complete_df.groupby(['school_name','type'])
# redo_allschooldata=school_data_complete_df

# school_comparison=school_group.mean()
# school_comparison
# school_group.count().head(20)
# school_group.head(20)

,,Total Students,Total School Budget,Per Student Budget,Avg Math,Avg Reading,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [10]:
sortallschooldata=all_school_data.sort_values('% Overall Passing',ascending=False)
sortallschooldata.head()

,,Total Students,Total School Budget,Per Student Budget,Avg Math,Avg Reading,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type